<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mini Message Board</title>
    </head>
    <body>
        <div class="container">
            <div class="header"></div>
            <div class="board">
                <% messages.forEach(message => { %>
                    <div class="message-card">
                        <div class="message-text"><%= message.text %></div>
                        <div class="message-writer"><%= message.user %></div>
                        <div class="message-time"><%= message.added %></div>
                    </div>
                <% }) %>
            </div>
        </div>
        
    </body>
</html>