body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form > label:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem; 
}